<div class="card mt-3">
    <div class="card-body">
        <div class="mb-3 ps-3">
            <label asp-for="CategoriaId" class="form-label form-text">Id</label>
            <div class="form-text text-body">
                <%= locals. Model.categoria Id %>
            </div>
        </div>
        <div class="mb-3 ps-3">
            <label asp-for="Nombre" class="form-label form-text">Nombre</label>
            <div class="form-text text-body">
                <%= locals.Model.nombre %>
            </div>
        </div>
    </div>
</div>